// ======================
// _units.sass
// ======================
// @import "units"
// @extend %..
// +mixin
// ======================


// ======================
// Remove horizontal whitespace between Inline-Block elements
// ======================

// @extend %inline-block_whitespace_removing // Remove whitespace between Inline-Block add to Parent element
%inline-block_whitespace_removing
    font-size: 0 /* Remove horizontal whitespace between Inline-Block elements */
    line-height: 0 /* Remove vertical whitespace between Inline-Block elements */
    letter-spacing: -1px /* Remove whitespace between Inline-Block elements for webkit */

// @extend %restore_normal_after_inline-block_whitespace_removing // restore normal values after Inline-Block whitespace removing add to Child elements
%restore_normal_after_inline-block_whitespace_removing
    font-size: medium
    line-height: normal
    letter-spacing: normal
