/* Created by O.V.Horyn on May, 2016
 */

// ________@font-face___________
@font-face
  font:
    family: 'Helvetica Neue'
    style: normal
    weight: 100
  src: local('Helvetica Neue UltraLight'), url(../fonts/HelveticaNeue/HelveticaNeueUltraLight.ttf) format('truetype')


// ________import___________

@import "reset"
@import "units"


// ________main selectors___________

body
  background: fixed #172A60 url("../img/bgr_metro-ui.jpg") 30% 35%
  font-family: 'Helvetica Neue', sans-serif
  font-weight: 100 //Extra Light or Ultra Light
  font-style: normal

$container_max-width: 940px

.container
  max-width: $container_max-width
  min-width: 310px
  margin: 0 auto
  padding: 0 5px
  position: relative


// ________site_header___________

$site_header_max_height: 240px
$site_header_height_pct: $site_header_max_height / $container_max-width * 100%

.site-header_container
  @extend .container
  min-height: 70px
  max-height: $site_header_max_height
  &::before //sets the height relative to the width
    content: ""
    display: block
    padding-top: $site_header_height_pct

%a
  text-decoration: none
  color: #fff

$a_logo_font-size: 65px

a.logo
  @extend %a
  font-size: $a_logo_font-size
  position: absolute
  top: 50%                              //* middle vertical-align
  margin-top: (- $a_logo_font-size / 2) //*
  &:hover
    font-size: $a_logo_font-size + 1
  &:active
    font-size: $a_logo_font-size


// ________base blocks___________

.blocks_container
  @extend .container
  @extend %inline-block_whitespace_removing // Remove whitespace between Inline-Block add to Parent element

$block_margin: 5px
$block_max-height: 150px
$block_margin_pct: $block_margin / $container_max-width * 100%

%block
  @extend %a
  max-height: $block_max-height
  display: inline-block
  position: relative
  @extend %restore_normal_after_inline-block_whitespace_removing // restore normal values after Inline-Block whitespace removing add to Child elements
  margin: $block_margin_pct
  &::before //sets the height relative to the width
    content: ""
    display: block
  &:hover
    outline: solid rgba(255, 255, 255, 0.3) 2px

  &:active
    outline: none

.block_title
    position: absolute
    left: 10px
    bottom: 6px
    font-size: 18px

$icon_width: 100px
$icon_height: $icon_width
$medium_block_max-width: $block_max-height
$icon_height_pct: $icon_height / $block_max-height * 100%

%block_icon
  &::after
    content: ""
    display: block
    position: absolute
    background-image: url(../img/sprite_icon.png)
    height: $icon_height_pct  //* for scaling icons
    top: 0        //*
    bottom: 10%   //*
    left: 0       //* horizontal  and vertical align
    right: 0      //*
    margin: auto  //*

$medium_block_width_pct: $medium_block_max-width / $container_max-width * 100%

%medium_block
  @extend %block
  @extend %medium_block_icon
  max-width: $medium_block_max-width
  width: $medium_block_width_pct
  &::before //sets the height relative to the width
    padding-top: 100%

$medium_block_icon_width_pct: $icon_width / $medium_block_max-width * 100%

%medium_block_icon
  @extend %block_icon
  &::after // for scaling icons
    background-size: 300% auto
    width: $medium_block_icon_width_pct

$wide_block_max-width: 310px
$wide_block_width_pct: $wide_block_max-width / $container_max-width * 100%
$wide_block_height_pct: $block_max-height / $wide_block_max-width * 100%

%wide_block
  @extend %block
  @extend %wide_block_icon
  max-width: $wide_block_max-width
  width: $wide_block_width_pct
  &::before //sets the height relative to the width
    padding-top: $wide_block_height_pct

$wide_block_icon_width_pct: $icon_width / $wide_block_max-width * 100%

%wide_block_icon
  @extend %block_icon
  &::after // for scaling icons
    background-size: 304% auto
    width: $wide_block_icon_width_pct

$wide_block_2_max-width: 280px
$wide_block_2_width_pct: $wide_block_2_max-width / $container_max-width * 100%
$wide_block_2_height_pct: $block_max-height / $wide_block_2_max-width * 100%

%wide_block_2
  @extend %block
  @extend %wide_block_2_icon
  max-width: $wide_block_2_max-width
  width: $wide_block_2_width_pct
  &::before //sets the height relative to the width
    padding-top: $wide_block_2_height_pct

$wide_block_2_icon_width: $icon_width / $wide_block_2_max-width * 100%

%wide_block_2_icon
  @extend %block_icon
  &::after // for scaling icons
    background-size: 304% auto
    width: $wide_block_2_icon_width

$x_wide_block_max-width: 440px
$x_wide_block_width_pct: $x_wide_block_max-width / $container_max-width * 100%
$x_wide_block_height_pct: $block_max-height / $x_wide_block_max-width * 100%

%x_wide_block
  @extend %block
  max-width: $x_wide_block_max-width
  width: $x_wide_block_width_pct
  &::before //sets the height relative to the width
    padding-top: $x_wide_block_height_pct


// ________blocks___________

.home
  @extend %medium_block
  background-color: #3387EA
  &::after
    background-position: 50% 50%

.about
  @extend %medium_block
  background-color: #F9BE3E
  &::after
    background-position: 0 0

.portfolio
  @extend %wide_block_2
  background-color: #D3573E
  &::after
    background-position: 100% 50%

.photos
  @extend %medium_block
  background-color: #59B0E2
  &::after
    background-position: 100% 0

.testimonials
  @extend %medium_block
  background-color: #32AF95
  &::after
    background-position: 0 100%

.hire_me
  @extend %wide_block
  background-color: #86A73F
  &::after
    background-position: 0 50%

$newsfeed_bgr_color: #151A26

.newsfeed
  @extend %x_wide_block
  background: $newsfeed_bgr_color url("../img/newsfeed.jpg") no-repeat
  background-size: contain

.contact
  @extend %medium_block
  background-color: #7E5B8C
  &::after
    background-position: 50% 0


// _________Newsfeed block__________

@keyframes frame_up
  from
    top: -100%
  to
    top: 0

@keyframes frame_down
  0%
    top: 0
  100%
    top: -100%

$text_overflow_height: 6px

%text_overflow
  &::after
    content: ""
    position: absolute
    bottom: 0
    height: $text_overflow_height
    width: 100%
    background-color: $newsfeed_bgr_color
    opacity: 0.7

$news_frame_width: $x_wide_block_max-width - $medium_block_max-width

.news_frame
  position: absolute
  overflow: hidden
  top: 0                         //*
  bottom: 0                      //*
  left: $x_wide_block_height_pct //* horizontal  and vertical align
  right: 0                       //*
  margin: auto                   //*


$news_block_margin-top: 12px
$news_block_margin-top_pct: $news_block_margin-top / $news_frame_width * 100%

$news_block_margin-bottom: 20px
$news_block_margin-bottom_ptc: $news_block_margin-bottom / $news_frame_width * 100%

$news_block_margin_left: 25px
$news_block_margin_left_ptc: $news_block_margin_left / $news_frame_width * 100%

$news_block_width: $news_frame_width - 2*$news_block_margin_left
$news_block_width_pct: $news_block_width / $news_frame_width * 100%

$news_block_height: 2*$block_max-height - ($news_block_margin-top + $news_block_margin-bottom)
$news_block_height_pct: $news_block_height / $news_block_width * 100%

.news_block
  position: absolute
  top: 0
  left: $news_block_margin_left_ptc
  width: $news_block_width_pct
  margin: $news_block_margin-top_pct 0 $news_block_margin-bottom_ptc
  animation: frame_up 1s ease-out forwards paused
  animation: frame_down 1s ease-out forwards paused
  &::before //sets the height relative to the width
    content: ""
    display: block
    width: 100%
    padding-top: $news_block_height_pct

  $news_title_height: 21px
  $news_title_height_pct: $news_title_height / $news_block_height * 100%

  .news_title
    position: absolute
    top: 0
    font-size: 18px
    color: #CCC

  $news_header_frame_height: 63px
  $news_header_frame_height_pct: $news_header_frame_height / $news_block_height * 100%

  $news_header_frame_top_pct: $news_title_height_pct

  $news_header_frame_margin-top: 15px
  $news_header_frame_margin-top_pct: $news_header_frame_margin-top / $news_block_width * 100%

  $news_header_frame_margin-bottom: 5px
  $news_header_frame_margin-bottom_pct: $news_header_frame_margin-bottom / $news_block_width * 100%

  .news_header_frame // for multiline text overflow
    position: absolute
    top: $news_header_frame_top_pct
    height: $news_header_frame_height_pct
    margin: $news_header_frame_margin-top_pct 0 $news_header_frame_margin-bottom_pct
    overflow: hidden
    @extend %text_overflow

  .news_header
    font-size: 22px

  $news_date_top_pct: $news_header_frame_top_pct + $news_header_frame_height_pct + ($news_header_frame_margin-top + $news_header_frame_margin-bottom) /  $news_block_height * 100%

  .news_date
    position: absolute
    top: $news_date_top_pct
    font-size: 12px
    color: #999

  $news_body_frame_margin-top: $news_block_margin-bottom + $news_block_margin-top
  $news_body_frame_margin-top_ptc: $news_body_frame_margin-top / $news_block_width * 100%

  $news_body_frame_height: $block_max-height - $news_body_frame_margin-top
  $news_body_frame_height_pct: $news_body_frame_height / $news_block_height * 100%

  .news_body_frame
    position: absolute
    bottom: 0
    height: $news_body_frame_height_pct
    margin: $news_body_frame_margin-top_ptc 0 0 0
    overflow: hidden
    @extend %text_overflow

  .news_body
    font-size: 16px


// _________site footer__________

.site-footer_container
  @extend .container
  @extend %inline-block_whitespace_removing // Remove whitespace between Inline-Block add to Parent element
  margin-bottom: 20px

$small_block_width: 75px

%small_block
  @extend %block
  max-width: $small_block_width
  width: $small_block_width / $container_max-width * 100%
  background: url(../img/sprite_social.png)
  background-size: 204% auto // for scaling icons
  &::before //sets the height relative to the width
    padding-top: 100%

.facebook
  @extend %small_block
  background-position: 0 100%

.twitter
  @extend %small_block
  background-position: 100% 0

.google_plus
  @extend %small_block
  background-position: 0 0

.copyright
  position: absolute
  right: 20px
  font-size: 14px
  color: #99A4C1
  top: 50%                //* middle vertical-align
  margin-top: (-14px / 2) //
  @extend %restore_normal_after_inline-block_whitespace_removing // restore normal values after Inline-Block whitespace removing add to Child elements


// __________@media $container_max-width_________

@media all and (max-width: $container_max-width)
  .news_block

    .news_title
      font-size: 17px

    .news_header
      font-size: 18px

    .news_body
      font-size: 15px


// _________@media 630__________

@media all and (max-width: 630px)

  $a_logo_font-size_2: 56px

  a.logo
    font-size: $a_logo_font-size_2
    &:hover
      font-size: $a_logo_font-size_2 + 1
    &:active
      font-size: $a_logo_font-size_2

  .container
    max-width: 424px

  $block_height_2: 100px
  $block_margin_2: 3px

  %block
    margin: $block_margin_2

  .block_title
    left: 7px
    bottom: 4px
    font-size: 16px

  $medium_block_width_2: $block_height_2

  %medium_block
    width: $medium_block_width_2

  $wide_block_width_2: ($medium_block_width_2 + $block_margin_2) * 2

  %wide_block
    width: $wide_block_width_2

  $wide_block_2_height_2_pct: $block_height_2 / $wide_block_width_2 * 100%
  $wide_block_2_icon_width_2: $icon_width / $wide_block_max-width * 100%

  %wide_block_2
    width: $wide_block_width_2
    &::before //sets the height relative to the width
      padding-top: $wide_block_2_height_2_pct
    &::after // for scaling icons
      width: $wide_block_2_icon_width_2

  $x_wide_block_width_2: ($medium_block_width_2 + $block_margin_2) * 3 + $block_margin_2
  $x_wide_block_height_2_pct: $block_height_2 / $x_wide_block_width_2 * 100%

  %x_wide_block
    width: $x_wide_block_width_2
    &::before //sets the height relative to the width
      padding-top: $x_wide_block_height_2_pct

  %small_block
    width: 47px

  $news_block_width_2: 200px
  $news_block_margin-top_2: 8px
  $news_block_margin-bottom_2: 14px

  $news_block_height_2: 2*$block_height_2 - ($news_block_margin-top_2 + $news_block_margin-bottom_2)
  $news_block_height_2_pct: $news_block_height_2 / $news_block_width_2 * 100%

  .news_block
    width: $news_block_width_2
    left: 5px
    margin: $news_block_margin-top_2 0 $news_block_margin-bottom_2
    &::before
        padding-top: $news_block_height_2_pct

    .news_title
      font-size: 16px

    .news_body
      font-size: 14px

  .copyright
    right: 10px
    font-size: 12px


// _________@media 451__________

@media all and (max-width: 451px)

  .container
    width: 318px
    padding: 0

  .contact
    position: absolute  //*
    top: 0              //* to fill free space in tile grid
    right: 0            //*

  .copyright
    position: relative
    right: 0
    top: 15px


// ___________________